* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.App {
  display: flex;
  justify-content: space-evenly;
}

.app__left {
  flex: 90%;
  margin-right: 10px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app_stats {
  display: flex;
  justify-content: space-between;
}

.app__right__table {
  margin-top: 20px;
  overflow: scroll;
  height: 400px;
  color: #6a5d5d;
  background-color: white;
}

.app__right__table td {
  padding: 0.5 rem;
}

.app__right__table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.app__right__table tr {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 990px) {
  .App {
    flex-direction: column;
  }
}
